.container {
    text-align: center;
}

.nav_link_container {
    display: grid;
}

.tictactoe_container {
    display: grid;
}

.board_row:after {
    clear: both;
    content: "";
    display: table;
}


.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    float: left;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd_navigation .square:focus {
    background: #ddd;
}


.game_info {
    margin-left: 20px;
    float: left;
}

.tictactoe_container {
    margin: 20px 20px 20px 20px;
    text-align: center;
}