<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="https://unpkg.com/vue@3.0.11"></script>
</head>
<body>
    <div id="app">
        <h1>Books</h1>
        <div>
        <p>Title: <input type="text"  v-model="titleBook"></input></p>
        <p>Is book read: <select v-model="isReadBook">
            <option value="bookRead">Yes</option>
            <option value="bookNotRead">No</option>
        </select>
        </p>
        <button v-on:click="onAddClick(titleBook,isReadBook)">Add</button>
        </div>
        <div v-for="b in books" :key="b.title" class="book">
            
            <p class="bookTitle">Title:{{ b.title }}</p>
            <p v-bind:class="colorIsRead(b)">Is Book Read: <span>{{ b.isRead }}</span></p>
        </div> 
        
    </div>
    
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    tata : 'tuuuata',
                    books: [
                        { title: 'Thinking, fast and slow', isRead: 'bookRead' }, 
                        { title: 'Scrum Guide', isRead: 'bookNotRead' }, 
                    ],
                   // : '',
                    isReadOfNewBook: 'bookNotRead'
                }
            },
            methods: {
                    onAddClick(titleNew,isReadNew) {
                        this.books.push({title: titleNew, isRead: isReadNew})
                    },

                    colorIsRead(b){
                        if(b.isRead == 'bookRead'){
                            return "bookRead"
                        }else{
                            return "bookNotRead"
                        }
                    }


            },
        })
        app.mount('#app')
    </script>
</body>
<style>
    .book{
        background-color: blanchedalmond;
    } 
    .bookTitle {
        font-weight: bold
    }
    .bookRead {
        color: green;
    }
    .bookNotRead {
       color : red;
    }
</style>
</html>